  <h3 class="ml-5 mb-5">マイページ</h3>
  
  <div class="row">
    <p class="font-weight-bold col-2">登録情報</p>
    <div class="col-5"><%= link_to "編集する", edit_customers_path ,class:"btn btn-success"%></div>
  </div>
  
  <table class="table table-light table-bordered col-md-8 mt-3">
    <tr>
      <td class="table-active">氏名</td>
      <td><%= @customer.full_name %></td>
    </tr>
    
    <tr>
      <td class="table-active">カナ</td>
      <td><%= @customer.full_name_kana %></td>
    </tr>
    <tr>
      <td class="table-active">郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    
    <tr>
      <td class="table-active">住所</td>
      <td><%= @customer.address %></td>
    </tr>
    
    <tr>
      <td class="table-active">電話番号</td>
      <td><%= @customer.phone_number %></td>
    </tr>
    
    <tr>
      <td class="table-active">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </table>
  
  <div class="row pt-3">
    <p class="font-weight-bold col-2">配送先</p>
    <div class="col-5"><%= link_to "一覧を見る", deliveries_path ,class:"btn btn-primary"%></div>
  </div>
  
  <div class="row pt-3">
    <p class="font-weight-bold col-2">注文履歴</p>
    <div class="col-5"><%= link_to "一覧を見る", orders_path ,class:"btn btn-primary"%></div>
  </div>