<div class="col-10 mt-3">
  <div class="card-list-container-fluid pt-3">
    <div class="row">
      <% products.each do |product| %>
        <div class="card mr-2 mt-4 shadow-lg">
          <%= link_to product_path(product) do %>
            <%= attachment_image_tag product, :image, :fill, 200, 150 ,class:"card-img-top py-2 px-2";%>
          <% end %>
          <div class="card-body">
          <div class="card-title"><%= product.name %></div>
            <div>¥<%= product.add_tax_included_price.to_s(:delimited) %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate products %>
</div>
