<h3 class="offset-1">商品詳細</h3>

<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-2 mt-5">
      <table class="table table-light">
        <thead class="table-active text-center">
          <tr>
            <th>ジャンル検索（検索機能は未実装）</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


  <div class="col-10 mt-3">
<div class="row offset-1 mt-5">
  <div class="col-lg-5"><%= attachment_image_tag @product, :image, :fill, 250, 200 %></div>

  <div class="col-lg-7">
    <div class="row">
      <div class="col">
        <%= @product.name %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= @product.detail %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= @product.genre.name %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <%= @product.add_tax_included_price.to_s(:delimited) %>（税抜）円
      </div>
    </div>

    <div class="row mt-3">
    <% if customer_signed_in? %>
      <% if @product.is_active? %>
        <%= form_with model: @cart_product, url: cart_products_path, method: :get, local: true do |f| %>
          <%= f.select :quantity, options_for_select((1..99).to_a), include_blank: "個数選択" %>
          <%= f.hidden_field :product_id, value: @product %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      <% else %>
        <div>売切れ</div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>


  </div>
  </div>
</div>