<div class="row">
  
  <div class=" col-md-1"></div>

  <div class=" col-md-2 mx-3">
    <%= render "public/searches/genre_sidebar", genres: @genres %>
  </div>

  <div class="col-md-4 mr-1">
    <%= attachment_image_tag @product, :image, :fill, 300, 250 %>
  </div>
  
  <div class="col-md-4 ">
    <h4 class="font-weight-bold"><%= @product.name %></h4>
    <div class="my-3"><%= @product.detail%></div>
    <div class="font-weight-bold">
      <span style="font-size:30px;">¥<%= @product.add_tax_included_price.to_s(:delimited) %></span>
      （税込）
    </div>
    
    <div class="mt-3">
    <% if customer_signed_in? %>
      <% if @product.is_active? %>
          
        <%= form_with model: @cart_product, url: cart_products_path, method: :post, local: true do |f| %>
          <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.submit "カートに入れる" ,class:"btn btn-dark btn-sm ml-5"%>
        <% end %>
      <% else %>
        <div>売切れ</div>
      <% end %>
    <% end %>
    </div>
  </div>