<div class="row">
  <h3 class="offset-1">カート</h3>
  <div class="col text-right">
    <%= link_to "カートを空にする",cart_products_path ,method: :delete ,class:"btn btn-danger"%>
  </div>
</div>

<% if @cart_products.empty? %>
  <p>商品を追加してください<p>
<% else %>
  <div class="row pt-5">
    <table class="table shadow-sm">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
          <th></th>
        </tr>
      </theat>
      <tbody>
        <% @cart_products.each do |cart| %>
          <tr>
            <td>
              <%= attachment_image_tag cart.product,:image,:fill, 100, 80, class:"shadow-lg"%>
              <%= "　#{cart.product.name}" %>
            </td>
            <td><%= cart.product.add_tax_included_price.to_s(:delimited) %></td>
            <td>
              <%= "#{cart.quantity}個" %>
              <%= form_with(url: cart_product_path(cart.id), method: :patch,local: true) do |f| %>
              <%= f.select :quantity, options_for_select((1..99).to_a)%>
              <%= f.submit "個数変更" ,class:"btn btn-success btn-sm"%>
              <% end %>
            </td>
            <td><%= cart.sum_of_price.to_s(:delimited)  %></td>
            <td><%= link_to "削除",cart_product_path(cart.id), method: :delete ,class:"btn btn-danger btn-sm"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="row pt-4">
<div class="col-5"><%= link_to "TOPページ",root_path ,class:"btn btn-primary btn-md"%></div>

<table class="table col-4 ml-auto">
  <tr>
    <th class="table-active">合計金額</th>
    <th><%= "#{@total.to_s(:delimited)}" %></th>
  </tr>
</table>
</div>

<% unless @cart_products.empty? %>
  <div>
  <%= link_to "注文情報入力画面へ",new_order_path ,class:"btn btn-success " %>
  </div>
<% end %>