<h3 class="mb-5">管理者ログイン</h3>

<%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row mb-4 form-group">
    <div class="col-md-2"><%= f.label :メールアドレス%></div>
    <div class="col-md-9"> <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></div>
  </div>
  <div class="row mb-5 form-group">
    <div class="col-md-2"><%= f.label :パスワード %></div>
    <div class="col-md-9"><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></div>
  </div>
  <div class="actions">
    <div class="offset-md-2"><%= f.submit "ログイン", class:"btn btn-primary w-25"%></div>
  </div>
<% end %>
