<div class="row">
  <div class="col-md-1 "></div>
  <div class="col-lg-2 col-md-12">
    <%= render "public/searches/genre_sidebar", genres: @genres %>
  </div>

  <div class="col-sm-10 col-md-8 ml-3">

    <% if @datas.empty? %>
      <h3><%= @value %>一覧</h3>
      <div class="text-center pt-5">該当商品はありません</div>
    <% else %>
      <h3>
        "<%= @value %>"の検索結果
        <span style="font-size:20px;">（全<%= @datas.count %>件）</span>
      </h3>
      
      <div class="card-list-container row pt-5">
        <% @datas.each do |data| %>
          <div class="card mb-4 mx-auto shadow-lg">
            <%= link_to product_path(data.id) do %>
              <%= attachment_image_tag data, :image, :fill, 200, 150 ,class:"card-img-top px-2 py-2";%>
            <% end %>
            <div class="card-body">
              <div><%= data.name %></div>
              <div>¥<%= data.add_tax_included_price.to_s(:delimited) %></div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="mt-5">
      <%= paginate @datas, theme: 'twitter-bootstrap-4' %>
    </div>
    
  </div>
</div>