<div class="container">
  <div class="row pb-5 pt-2">
    
   <div class="col-md-2 text-center">
     <%= render "public/searches/genre_sidebar", genres: @genres %>
    </div>
  
    <div class="col-md-10">
      <h3>
        "<%= @keyword %>"の検索結果
        <span style="font-size:20px;">（全<%= @products.total_count %>件）</span>
      </h3>
      
      <%= render "public/products/index", products: @products %>
      <%= paginate @products %>
    </div>
    
  </div>
</div>