<div class="row">
  <div class="col-sm-10 col-md-3 ">
   <%= render "public/searches/genre_sidebar", genres: @genres %>
  </div>
  
  <div class="col-sm-10 col-md-8 ml-3">
    <h3>"<%= @keyword %>"の検索結果</h3>
    <div>（全 <%= @products.total_count %>件）</div>
    <%= render "public/products/index", products: @products %>
    
    <div class="mt-5">    
      <%= paginate @products %>
    </div>
  </div>
</div>