<div class="row">
  <div class="col-lg-2 col-md-12">
    <%= render "public/searches/genre_sidebar", genres: @genres %>
  </div>

  <div class="ml-auto">

    <div id="container">
      <div id="theTarget">
        <div class="top-img image1">
          <p class="text-center",pt-5 id="top-message">
          ようこそ、ながのCAKEへ！<br/>
          このサイトは、ケーキ販売のECサイトになります。<br/>
          会員でない方も商品の閲覧はできますが、<br/>
          購入には会員登録が必要になります。</p>
        </div>
        <div class="top-img image2"></div>
        <div class="top-img image3"></div>
        <div class="top-img image4"></div>
        <div class="top-img image5"></div>
      </div>
    </div>

    <h3 class="mt-5">新着商品</h3>

      <div class="card-list-container pt-3 row">
        <% @products.each do |product| %>
          <div class="card mr-2 mt-4 shadow-lg">
            <%= link_to product_path(product) do %>
              <%= attachment_image_tag product, :image, :fill, 200, 150 ,class:"card-img-top py-2 px-2";%>
            <% end %>
            <div class="card-body">
              <div class="card-title"><%= product.name %></div>
              <div>¥<%= product.add_tax_included_price.to_s(:delimited) %></div>
            </div>
          </div>
        <% end %>
      </div>

    <div class="text-right mt-5">
      <%=link_to "全ての商品を見る >" ,products_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>