<h3 class="ml-5">配送先編集</h3>

<%= form_with model: @delivery ,local: true do |f| %>
  <div class="row form-group pt-3">
    <div class="col-md-3"><%= f.label :postal_code,"郵便番号（ハイフンなし）"%></div>
    <div class="col-md-4"><%= f.text_field :postal_code ,class:"form-control"%></div>
  </div>
  
  <div class="row form-group">
    <div class="col-md-3"><%= f.label :address,"住所" %></div>
    <div class="col-md-7"><%= f.text_area :delivery ,class:"form-control"%></div>
  </div>
  
  <div class="row form-group">
    <div class="col-md-3"><%= f.label :name,"宛名"%></div>
    <div class="col-md-4"><%= f.text_field :name ,class:"form-control"%></div>
    <div class="visible-xs" ,style:"height:20px;"></div>
    <div class="col-md-4 text-right">
      <%= f.submit "変更内容を保存" ,class:"btn btn-success" ,style:"width:150px"%>
    </div>
  </div>
  
<%end%>