<div class="row offset-">
  <h3>注文情報確認</h3>
</div>
<div class="row pt-5">
  <div class="col-md-8">
    <table class="table table-light table-borderless border">
      <thead class="table-active">
        <tr class="text-white bg-dark">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.customer.cart_products.each do |cart_product| %>
          <tr>
            <td class="align-middle">
              <%= attachment_image_tag cart_product.product,:image,:fill, 60, 50 %>
              <%= cart_product.product.name %>
            </td class="align-middle">
            <td class="align-middle"><%= cart_product.product.add_tax_included_price.to_s(:delimited) %></td>
            <td class="align-middle"><%= cart_product.quantity %></td>
            <td class="align-middle"><%= cart_product.sum_of_price.to_s(:delimited) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4 col-md-4 ml-auto">
    <table class="table table-light table-borderless border">
      <tbody>
        <tr>
          <th class="text-white bg-dark">送料</th>
          <td><%= @order.postage.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="text-white bg-dark">商品合計</th>
          <td><%= current_customer.cart_products_total_price.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="text-white bg-dark">請求金額</th>
          <td><%= @order.total_price.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <p class="col-3">支払方法</p>
  <p><%= @order.payment_method_i18n %></p>
</div>

<div class="row">
  <p class="col-3">お届け先</p>
  <p>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></p>
</div>
<div class="text-center">
  <%= form_with model: Order.new do |f| %>
    <%= f.hidden_field :name, value: @order.name %>
    <%= f.hidden_field :address, value: @order.address %>
    <%= f.hidden_field :postal_code, value: @order.postal_code %>
    <%= f.hidden_field :total_price, value: @order.total_price %>
    <%= f.hidden_field :payment_method, value: @order.payment_method %>
    <%= f.submit "注文を確定する" ,class:"btn btn-info btn-lg" %>
  <% end %>
</div>
