<div class="row offset-2">
  <h3>注文情報入力</h3>
</div>

<%= form_with url: check_orders_path, local: true, method: :post do |f| %>
  <h5>支払方法</h5>
  <div class="col">
    <%= f.collection_radio_buttons :payment_method, Order.payment_methods_i18n, :first, :last, { checked: @order.payment_method ||= "credit_card" } %>
  </div>
  
  <h5>お届け先</h5>
  <div class="col">
    <%= f.radio_button :address_number, 1, checked: @address_number ||= 1 == 1  %>
    <%= f.label :address_number, "ご自身の住所", value: 1 %>
    <div class="col"><%= @order.customer.full_address %></div>
  </div>

  <div class="col mt-3">
    <%= f.radio_button :address_number, 2, checked: @address_number == 2 %>
    <%= f.label :address_number, "登録済み住所", value: 2 %><br>
    <div class="col"><%= f.select :delivery_id, current_customer.reload.deliveries.map { |a| [a.full_addresses, a.id] } %></div>
  </div>
  
  <div class="col mt-3">
    <%= f.radio_button :address_number, 3, checked: @address_number == 3 %>
    <%= f.label :address_number, "新規住所", value: 3 %>
    <div class="col">
      <div class="row form-group">
        <div class="col-md-4"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
        <div class="col-md-5"><%= f.text_field :postal_code, value: @delivery.postal_code, placeholder:"0000000" ,class:"form-control"%></div>
      </div>
      <div class="row form-group">
        <div class="col-md-4"><%= f.label :address, "住所" %></div>
        <div class="col-md-7"><%= f.text_field :address, value: @delivery.address, placeholder:"東京都渋谷区代々木神園町0-0" ,class:"form-control"%></div>
      </div>
      <div class="row form-group">
        <div class="col-md-4"><%= f.label :name, "宛名" %></div>
        <div class="col-md-5"><%= f.text_field :name, value: @delivery.name, placeholder:"令和道子" ,class:"form-control"%></div>
      </div>
    </div>
  </div>
    
  <div>
    <%= f.submit "確認画面" ,class:"btn btn-primary" %>
  </div>
  <% end %>