<div class="row offset-">
  <h3>注文履歴詳細</h3>
</div>

<div class="row">
  <div class="col-md-6 pt-3">
    <h4>注文情報</h4>
    <table class="table table-light table-borderless border">
      <tbody>
        <tr>
          <th class="text-white bg-dark">注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th class="text-white bg-dark align-middle">配送先</th>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th class="text-white bg-dark">支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th class="text-white bg-dark">ステータス</th>
          <td><%= @order.status_i18n %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4 pt-3">
    <h4>請求情報</h4>
    <table class="table table-light table-borderless border">
      <tbody>
        <tr>
          <th class="text-white bg-dark">商品合計</th>
          <td><%= @order.order_products_total_price.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="text-white bg-dark">配送料</th>
          <td><%= @order.postage.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="text-white bg-dark">ご請求額</th>
          <td><%= @order.total_price.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-8 pt-3">
    <h4>注文内容</h4>
    <table class="table table-light table-borderless border">
      <thead>
        <tr class="text-white bg-dark">
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.product.name %></td>
            <td><%= order_detail.tax_included_price.to_s(:delimited) %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= order_detail.sum_of_price.to_s(:delimited) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>