<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Logo</span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li>
                  <%= link_to "商品一覧", admin_products_path, class:"fas fa-users nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "会員一覧", admin_customers_path, class:"fas fa-users nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "注文履歴一覧", admin_root_path, class:"fas fa-book-open nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "ジャンル一覧", admin_genres_path, class:"fas fa-book-open nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " ログアウト", destroy_admin_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-light" %>
                </li>
              <% else %>
                <li>
                  <%= link_to " About", about_path, class:"fas fa-home nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " 商品一覧", products_path, class:"fas fa-link nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " 新規登録", new_customer_registration_path, class:"fas fa-user-plus nav-link text-light" %>
                </li>
                <li>
                  <%= link_to " ログイン", new_customer_session_path, class:"fas fa-sign-in-alt nav-link text-light" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <main style="margin-bottom:80px">
      <div class="container p-3">
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>